<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <img src="../../../raw/eg_planets.jpg" usemap="#map_earth" width="215" height="260" alt="太阳系">

    <map id="map_earth" name="map_earth">
        <area shape="circle" coords="178,141,13" href="../../../raw/eg_venus.gif"/>
        <area shape="circle" coords="129,162,8" href="../../../raw/eg_merglobe.gif"/>
        <area shape="rect" coords="0,0,110,262" href="../../../raw/eg_sun.gif"/>
    </map>
</body>
</html>